@import "../../styles/variables.css";

.wrapper{
  composes: wrapper from "../../styles/layout.css";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (--large-and-up) {
    margin-top: rem(80);    
  }
}

.container{
  composes: container from "../../styles/layout.css";
  width: rem(1200);
  text-align: center;
  @media (--large-and-up) {
    text-align: left;
  }    
}

.header{
  font-size: rem(50);
  line-height: rem(50);
  color: var(--blue);
  margin: 0;
  font-weight: 400;
  @media (--large-and-up) {
    font-size: rem(100);
    line-height: rem(100);  
  }
}
.subheader{
  font-size: rem(20);
  line-height: rem(26);
  margin: rem(15) 0;
  color: gray(40%);
  font-weight: 400;
  @media (--large-and-up) {
    font-size: rem(48);
    line-height: rem(48);  
  }    
}

.mentorHeader{
  font-size: rem(24);
  line-height: rem(24);
  margin-top: rem(20);
  color: var(--blue);
  font-weight: 400;
  @media (--large-and-up) {
    margin-top: rem(30);
    font-size: rem(50);
    line-height: rem(50);
  }    
}

.landingMarquee{
  width: 100%;
  & .ctaMarquee:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
  }
}

.ctaMarquee{
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;

  @media (--large-and-up) {
    width: rem(1200);
    margin: 0 auto;
    & .ctas{
      flex-direction: row;
    }

    & .inner{
      position: relative;
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & .header{
        font-size: rem(134);
        line-height: rem(100);
      }
    }
  }

  & .inner{
    height: rem(500);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (--large-and-up) {
      height: rem(600);      
    }      
  }

  & .header{
    color: white;
  }

  & .subheader{
    color: white;
    margin: rem(10) 0 rem(40);
    @media (--large-and-up) {
      margin: rem(30) 0 rem(55);
    }      
  }

  & .ctas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    @media (--large-and-up) {
      flex-direction: row;
    }      
  }

  & .ctaButtonWrapper{
    margin: rem(15) rem(30);
    width: rem(305);
    @media (--large-and-up) {
      margin: 0 rem(30);      
    }
  }
  & .ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.notificationBar{
  background-image: linear-gradient(to bottom right, var(--blue), color(var(--blue) shade(20%)));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(30) rem(15) rem(40);
  @media (--large-and-up) {
    padding: rem(20);
    flex-direction: row;
    & .cta{
      margin-left: rem(40);
    }
  }
}

.newsletter{
  align-items: center;
  color: gray(30%);
  width: 100%;
  padding: 0 rem(15);
  @media (--large-and-up) {
    width: 70%;    
    padding: 0;
  }

  & .header{
    font-size: rem(40);
    line-height: rem(40);
    @media (--large-and-up){
      font-size: rem(80);
      line-height: rem(80);        
    }
  }

  & .disclaimer{
    display: block;
    margin-top: rem(15);
    font-size: rem(10);
    @media (--large-and-up){
      font-size: rem(12);
    }      
  }
}

.testimonials{
  margin: 0 auto rem(60);
  width: calc(100% - rem(60));
  max-width: rem(450);
  @media (--large-and-up) {
    width: rem(450);      
  }
}
.testimonial{
  text-align: center;
  color: gray(30%);
  & .body{
    margin: 0 auto rem(30);
  }
  & author{
    color: var(--blue);
    font-size: 1.4em;
  }
}


.about{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.aboutContainer{
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--large-and-up) {
    height: rem(600);
    margin: rem(60) 0;
  }
  & .header{
    font-size: rem(40);
    margin-top: rem(250);
    @media (--medium-and-up) {
      margin-top: rem(350);
    }      
    @media (--large-and-up) {
      margin-top: 0;
      font-size: rem(80);
    }
  }
  & .subheader,
  & .header{
    position: relative;
    z-index: 2;  
  }
}

.aboutContent{
  color: gray(20%);
  padding: 0 rem(15);
  position: relative;
  z-index: 2;  
  @media (--large-and-up) {
    padding: 0;
    width: 50%;
  }
}
.aboutBg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-color: transparent;  
  background-position: center top;
  background-size: 200%;
  @media (--medium-and-up) {    
    background-size: 150%;
  }
  @media (--large-and-up) {
    background-position: right center;
    background-size: contain;
  }
  &:before{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    content: '';
    z-index: 1;
    background-image: linear-gradient(0, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 90%);
    @media (--medium-and-up) {
      background-image: linear-gradient(0, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 70%);
    }
    @media (--large-and-up) {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 50%);
    }
  }
}

.slider{
  width: calc(100% - rem(30));
  margin: 0 auto rem(30);
  @media (--large-and-up) {
    width: 100%;
    margin: 0;
  }

  & .slide{
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: rem(240);
    margin: 0;
    @media (--large-and-up){
      height: rem(300);
      margin: rem(10);        
    }

    & .overlay{
      display: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: color(var(--blue) alpha(-10%));
      color: white;
      padding: rem(30);

      justify-content: center;
      flex-direction: column;
      text-align: center;

      & .name{
        font-size: 1.6em;
        margin-bottom: rem(5);
      }

      & .tags,
      & .dateJoined{
        font-size: 0.8em;
        margin-bottom: rem(5);
      }
    }
  }
  & .slide:hover .overlay{
    display: flex;
  }
}

.features{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  background-color: gray(95%);
  padding: rem(30);
  @media (--large-and-up){
    padding: rem(30);
    margin: rem(60) 0;
    flex-direction: row;    
  }

  & .feature{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: rem(40);
    @media (--large-and-up){
      margin-bottom: 0;
      width: calc(33.3% - rem(20));
    }
    & .icon{
      width: rem(50);
      height: rem(50);
    }
    & .title{
      font-size: rem(24);
      margin: rem(5) 0;
      color: var(--blue);
      font-weight: 400;
      @media (--large-and-up){
        margin: rem(15) 0;
      }
    }
    & p{
      margin-bottom: 0;
    }

    & .cta{
      position: relative;
      margin-top: rem(60);
      &:before{
        content: '';
        top: rem(-60);
        left: 50%;
        position: absolute;
        height: rem(40);
        width: rem(1);
        background-color: gray(50%);
      }
    }
  }
}

.footer{
  background-image: linear-gradient(to bottom right, color(var(--blue) tint(20%)), var(--darkBlue));
  overflow: hidden;
  padding-bottom: rem(150);
  margin-top: rem(-150);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .followUsCta{
    margin-bottom: rem(15);
    width: rem(250);
  }

  & .email{
    margin: rem(15) 0 rem(30);
  }

  & a{
    color: white;
  }

  & .copyright{
    color: white;
  }
}

.grid{
  padding: 0 !important;
}
