@import "../../styles/variables.css";

.wrapper{
  composes: wrapper from "../../styles/layout.css";
  margin-top: rem(80);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container{
  composes: container from "../../styles/layout.css";
  width: rem(1200);
}

.header{
  font-size: rem(100);
  line-height: rem(100);
  color: var(--blue);
  margin: 0;
  font-weight: 400;
}
.subheader{
  font-size: rem(48);
  line-height: rem(48);
  margin: rem(15) 0;
  color: gray(40%);
  font-weight: 400;
}

.mentorHeader{
  font-size: rem(50);
  line-height: rem(50);
  color: var(--blue);
  margin-top: rem(30);
  font-weight: 400;
}

.ctaMarquee{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: rem(600);
  width: 100%;
  text-align: center;

  @media (--large-and-up) {
    width: rem(1140);
    max-width: 100%;

    & .ctas{
      flex-direction: row;
    }

    &:first-child{
      & .header{
        font-size: rem(134);
        line-height: rem(100);
      }
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .header{
    color: white;
  }

  & .subheader{
    color: white;
    margin: rem(30) 0 rem(55);
  }

  & .ctas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }

  & .ctaButtonWrapper{
    margin: 0 rem(30);
    width: rem(305);
  }
  & .ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.notificationBar{
  background-image: linear-gradient(to bottom right, var(--blue), color(var(--blue) shade(20%)));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20);
  & .cta{
    margin-left: rem(40);
  }
}

.newsletter{
  align-items: center;
  color: gray(30%);

  & .header{
    font-size: rem(80);
    line-height: rem(80);
  }

  & .disclaimer{
    display: block;
    margin-top: rem(15);
    font-size: rem(12);
  }
}

.testimonials{
  margin-bottom: rem(60);
  & .testimonial{
    text-align: center;
    color: gray(30%);
    & .body{
      height: rem(200);
    }
    & author{
      color: var(--blue);
      font-size: 1.4em;
    }
  }
}

.about{
  background-image: url('/images/RISE-Hero-2.jpg');
  background-position: right -100px center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: rem(600);
  display: flex;
  justify-content: center;
  margin: rem(60) 0;

  & .container{
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .header{
      font-size: rem(80);
    }

    & .content{
      width: 50%;
      color: gray(20%);
    }
  }
}

.slider{
  width: 100%;

  & .slide{
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: rem(300);
    margin: rem(10);

    & .overlay{
      display: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: color(var(--blue) alpha(-10%));
      color: white;
      padding: rem(30);

      justify-content: center;
      flex-direction: column;
      text-align: center;

      & .name{
        font-size: 1.6em;
        margin-bottom: rem(5);
      }

      & .tags,
      & .dateJoined{
        font-size: 0.8em;
        margin-bottom: rem(5);
      }
    }
  }
  & .slide:hover .overlay{
    display: flex;
  }
}

.features{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: rem(60) 0;
  background-color: gray(95%);
  padding: rem(30);

  & .feature{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: rem(300);
    text-align: center;
    & .icon{
      width: rem(50);
      height: rem(50);
    }
    & .title{
      font-size: rem(24);
      color: var(--blue);
      font-weight: 400;
    }

    & .cta{
      position: relative;
      margin-top: rem(60);
      &:before{
        content: '';
        top: rem(-60);
        left: 50%;
        position: absolute;
        height: rem(40);
        width: rem(1);
        background-color: gray(50%);
      }
    }
  }
}

.footer{
  background-image: linear-gradient(to bottom right, color(var(--blue) tint(20%)), var(--darkBlue));
  overflow: hidden;
  padding-bottom: rem(150);
  margin-top: rem(-150);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .email{
    margin: rem(30) 0;
    & a:hover{
      color: white;
    }
  }

  & .copyright{
    color: white;
  }
}

.grid{
  padding: 0 !important;
}
