.container{
  width: rem(400);
}

.or {
  padding: rem(20);
  text-align: center;
}

.providers {
  display: flex;
  justify-content: center;
}

.signup {
  text-align: center;
  padding-top: rem(20);
}

.signupLink{
  margin-left: rem(10);
}
