@import "variables.css";

:global {
  & body{
    margin: 0;
    background: white;
  }

  & .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
}

.container {
  align-self: center;
  width: rem(1000);
  max-width: 100%;
  padding: rem(15) 0;
  background-color: white;
  @media (--large-and-up){
    padding: rem(30);
  }
}
