/* Colors */
:root {
  --blue: #0F5E9A;
  --darkBlue: #042745;
  --success: #4BB543;
  --teal: #0FD3DC;
  --red: #FF0000;
  --orange: #FFA500;

  --success-theme: {
    background-color: var(--success);
    color: white;
    &:hover{
      background-color: color(var(--success) shade(10%));
    }
  };

  --alert-theme: {
    background-color: var(--teal);
    color: white;
    &:hover{
      background-color: color(var(--teal) shade(10%));
    }
  };

  --error-theme: {
    background-color: var(--red);
    color: white;
    &:hover{
      background-color: color(var(--red) shade(10%));
    }
  };

  --top-notification-height: rem(70);

  --notification-badge-styles: {
    position: absolute;
    bottom: rem(5);
    right: rem(5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(14);
    border-radius: 50%;
    height: rem(20);
    width: rem(20);
  };
}

/* Media queries */
@custom-media --only-small (width < 768px);
@custom-media --only-medium (width >= 768px) and (width < 1200px);
@custom-media --only-large (width >= 1200px) and (width < 1400px);
@custom-media --only-xlarge (width >= 1400px);

@custom-media --small-and-up (width > 0);
@custom-media --medium-and-up (width >= 500px);
@custom-media --large-and-up (width >= 1200px);
@custom-media --xlarge-and-up (width >= 1400px);
