extends layout.pug

block content
  tr
    td.alert(class='alert-primary') Welcome to RISE!
  tr
    td.content-wrap
      table(width='100%', cellpadding='0', cellspacing='0')
        tr
          td.content-block Head over to RISE-Athletes.com to login and check out your brand new account. We will guide you through the next steps there.
        tr
          td.content-block 
            p What you need to know:
            <ul>
              <li>You’ve been accepted into RISE Athletes Mentorship Program! Yippee!</li>
              <li>Log into your account with your parent/guardian to finish the signing-up process, including payment and signing of the athlete agreement.</li>
              <li>Then we will pair you with a RISE Mentor, and schedule your intro call</li>
            </ul>
        tr
          td.content-block RISE Athletes is a mentorship platform connecting young athletes with Olympians all around the world to develop their Olympic Mindset. The mentorship program consists of weekly one-on-one video calls, conducted right from your dashboard on rise-athletes.com.
        tr
          td.content-block Athletes all around the world are raving about RISE… we are excited to have you be the newest member of the RISE family. WELCOME!
        tr
          td.content-block Are you ready to RISE?!
        tr
          td.content-block - The RISE Athletes Team.
