.container{

}

.label{
  font-size: rem(12);
  margin: 0;
  opacity: 0.26;
  position: relative;
  bottom: rem(-15);
}

.inputs{
  display: flex;
  max-width: rem(300);
  & .day{
    width: 20%
  }
  & .month,
  & .year{
    width: 40%;
  }
  & .day,
  & .year{
    margin-left: rem(15);
  }
}
