.button{
  height: rem(50);
  padding-left: rem(30);
  padding-right: rem(30);
  background-color: gray(95%);
}

.button.hollow:not([disabled]) {
  border: 1px solid currentColor;
  background-color: transparent;
  color: gray(60%);
  &:hover{
    background-color: color(gray(60%) alpha(-80%));
  }
}

.button.white:not([disabled]) {
  color: white;
}
