@import "../../styles/variables.css";

.default{
  margin-top: rem(5);
  & input{
    padding-left: rem(5);
  }
  & textarea{
    line-height: rem(24);
  }
}

.bar:before, .bar:after{
  background-color: var(--blue);
}

.label{
  color: gray(20%);
}

.hint{
  font-size: rem(16);
  line-height: rem(20);
  color: gray(60%);
}
