.container{
  color: gray(40%);
  font-size: 80%;
  text-align: center;
  font-style: italic;
}

.container,
.selector{
  margin-bottom: rem(30);
}

.selector{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(600);
  padding: 0 rem(20);
  background-color: gray(95%);
  & .dropdown{
    width: 70%;
  }
  & button{
    font-size: rem(14);
    padding: rem(5);
  }
}
