@import "../../styles/variables.css";

.container{
  width: 300px;
  position: relative;
  background-color: gray(80%);
  &.collapsed{
    width: 0;
    & .navItems{
      overflow: hidden;
    }
  }
}

.navItems{
  display: flex;
  flex-direction: column;

  & .navItemsGroup{
    display: flex;
    flex-direction: column;

    & .navItemsGroupHeadline{
      display: flex;
      font-size: 20px;
      background-color: gray(40%);
      margin: 0;
      padding: rem(20);
      color: white;
      border-bottom: 1px solid gray(80%);
      cursor: pointer;
      &:before{
        content: '';
        width: rem(20);
        height: rem(20);
        margin-right: rem(5);
      }
    }

    & .navItemsGroupContent{
      display: flex;
      flex-direction: column;
      background-color: gray(20%);
    }

    & .navItem{
      padding: rem(20) rem(20) rem(20) rem(40);
      border-bottom: 1px solid gray(90%);
      color: white;
      text-decoration: none;
    }
    & .navItem.navItemActive{
      padding-left: rem(25);
      border-left: rem(15) solid var(--blue);
      background-color: gray(6%);
    }

    & .navItemsGroupHeadline.disabled,
    & .navItem.disabled{
      background-color: gray(25%);
      color: gray(40%);
      cursor: default;
    }

    & .navItemsGroupHeadline.active,
    & .navItemsGroupContent.active{
      background-color: gray(30%);
    }
  }
}
