.feed{
  margin-top: rem(200);
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: rem(140);
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: rem(30);
    background-color: white;
    width: rem(1);
    height: rem(60);
  }

  & .item{
    & img{
      width: 100%;
    }
  }
}
