.feed{
  margin-top: rem(200);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(140);
  width: calc(100% - 140px);
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: rem(30);
    background-color: white;
    width: rem(1);
    height: rem(60);
  }

  & div:first-child{
    display: none;
  }
}

.item{
  position: relative;
  width: calc(25% - 20px);
  height: rem(300);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  & .link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
