.container{
  composes: container from "../../../styles/layout.css";
  padding: rem(20);
  display: flex;
  max-width: rem(600);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.avatarContainer {
  margin-right: rem(100);
  & .avatar {
    width: rem(200);
    height: rem(200);
  }
}
.meta {
}
