/* Colors */
:root {
  --blue: #0F5E9A;
  --darkBlue: #042745;
  --success: #4BB543;

  --success-theme: {
    background-color: var(--success);
    color: white;
    &:hover{
      background-color: color(var(--success) shade(10%));
    }
  };

  --top-notification-height: rem(70);
}

/* Media queries */
@custom-media --only-small (width < 768px);
@custom-media --only-medium (width >= 768px) and (width < 1200px);
@custom-media --only-large (width >= 1200px) and (width < 1400px);
@custom-media --only-xlarge (width >= 1400px);

@custom-media --small-and-up (width > 0);
@custom-media --medium-and-up (width >= 500px);
@custom-media --large-and-up (width >= 1200px);
@custom-media --xlarge-and-up (width >= 1400px);
