@import "../../styles/variables.css";

.header{
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 0 gray(50%, 50%);
  justify-content: space-between;
  &.withLeftNav{
    width: calc(100% - 300px);
  }

  & a{
    text-decoration: none;
    text-transform: uppercase;
  }

  & .logo{
    display: flex;
    align-self: center;
    margin-left: rem(20);
  }
}

.nav{
  align-items: center;
  flex-grow: 1;
  padding: 0;
  & a{
    margin-left: rem(30);
    color: var(--blue);
    &:first-child{
      margin-left: 0;
    }
  }
}

.navCta{
  align-items: stretch;
  justify-content: flex-end;
  padding: 0;

  & a{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 rem(30);
  }
}
.join{
  background-color: gray(40%);
}
.signin{
  background-color: gray(60%);
}

.nav,
.navCta{
  display: none;
  @media (--medium-and-up) {
    display: flex;
  }
}

.leftNav{
  display: flex;
  flex-direction: row;
}

.rightNav{
  display: flex;
  flex-direction: row;

  & .rightNavVideo,
  & .rightNavChat{
    width: 80px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
  }

  & .rightNavVideo{
    background-color: gray(20%);
  }

  & .rightNavChat{
    background-color: gray(30%);
    margin-right: 40px;
  }

  & .rightNavName{
    align-self: center;
  }

  & .rightNavAvatar{
    margin: 0 20px;
    align-self: center;
  }

  & .rightNavMenu{
    border-left: 2px solid gray(80%);
    padding: 20px;
    align-self: center;
  }
}

.toggle{
  width: 76px;
  height: inherit;
  cursor: pointer;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  &:after{
    content: '\f0c9';
    font-family: 'FontAwesome';
    color: white;
    font-size: 30px;
  }
}
