@import "../../styles/variables.css";

.header{
  position: fixed;
  z-index: 4;
  top: 0;
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 0 gray(50%, 50%);
  justify-content: space-between;
  &.withLeftNav{
    width: calc(100% - rem(300));
  }
  &.withNotification{
    top: var(--top-notification-height);
  }
  & a{
    text-decoration: none;
    text-transform: uppercase;
  }

  & .logo{
    display: flex;
    align-self: center;
    margin-left: rem(20);
  }
}
.showMobileNav{
  & .navMobile .icon{
    fill: var(--blue);
  }   
}  

.nav{
  align-items: center;
  flex-grow: 1;
  padding: 0;
  & a{
    margin-left: rem(30);
    color: var(--blue);
    &:first-child{
      margin-left: 0;
    }
  }
}

.navCta{
  align-items: stretch;
  justify-content: flex-end;
  padding: 0;

  & a,
  & a:hover{
    display: flex;
    align-items: center;
    color: white !important;
    font-weight: medium;
    padding: 0 rem(30);
  }
}
.navMobile{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 rem(0);
  & .icon{
    height: rem(24);
    width: rem(30);
  }
  @media (--medium-and-up){
    display: none !important;
  }
}
.mobileNavItems{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: rem(63);
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  transform: translateY(-50px);
  z-index: 3;
  & a,
  & a:hover{
    color: white !important;
    font-weight: medium;
    padding: rem(20) rem(30);
    font-size: rem(20);
  }
  &:after{
    content: '';
    background-color: color(black alpha(60%));
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &.show{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.join{
  background-color: gray(40%);
}
.signin{
  background-color: gray(60%);
}
.join,
.signin{
  &:hover{
    background-color: gray(10%);
  }
}

.nav,
.navDesktop{
  display: none;
  height: 100%;
  @media (--medium-and-up) {
    display: flex;
  }
}

.leftNav{
  display: flex;
  flex-direction: row;
}

.rightNav{
  display: flex;
  flex-direction: row;

  & .numberOfNotifications{
    @apply --notification-badge-styles;
    background-color: var(--blue);
    color: white;
  }

  & .rightNavIcon{
    height: rem(25);
  }

  & .rightNavMeetings,
  & .rightNavChat{
    position: relative;
    width: 80px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .rightNavMeetings{
    background-color: gray(95%);
  }
  & .meetingsIcon{
    width: rem(25);
    height: rem(25);
  }
  & .meetingsIcon path{
    fill: var(--blue);
  }

  & .rightNavChat{
    background-color: gray(95%);
  }

  & .rightNavName{
    margin: 0 rem(40);
    align-self: center;
  }

  & .rightNavAvatar{
    margin: 0 rem(20);
    align-self: center;
  }

  & .rightNavMenu{
    border-left: 2px solid gray(80%);
    padding: rem(20);
  }
  & .rightNavMenu .icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.toggle{
  width: rem(76);
  height: inherit;
  cursor: pointer;
  background-color: gray(95%);
  display: flex;
  justify-content: center;
  align-items: center;
  & .icon{
    width: rem(25);
    height: rem(25);
    & path{
      fill: var(--blue);
    }
  }
}
