.logItem{
  margin-bottom: rem(20);
  & .title{
    margin: 0;
  }
}

.completed{
  & .logItem{
    & .title,
    & .date,
    & .description{
      text-decoration: line-through;
      color: gray(50%);
    }
  }
}
