@import "../styles/variables.css";

.container{
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  min-height: 100vh;
  &.withNotification{
    margin-top: var(--top-notification-height);
  }
}
.mainContent{
  flex-grow: 1;
}
.layout{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem(50);
}
.environment{
  position: fixed;
  bottom: 0;
  right: rem(15);
  background-color: gray(96%);
  color: gray(80%);
  padding: rem(3) rem(10);
  font-size: rem(12);
  border-top-left-radius: rem(5);
  border-top-right-radius: rem(5);
}
