@import "../../../styles/variables.css";

.container{
  composes: container from "../../../styles/layout.css";
  padding: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(600);
  max-width: 100%;

  &.success{
    & .header{
      color: var(--success);
    }
  }
}

.times{
  margin-bottom: rem(20);
  & .time{
    cursor: pointer;
  }
}

.scheduleType{
  display: flex;
  justify-content: space-between;
  width: 100%;
  & .onetime,
  & .recurring{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: rem(5);
    background-color: gray(96%);
    border: 1px solid gray(60%);
    padding: rem(40);
    text-align: center;
    margin-right: rem(15);
    & h3{
      margin: 0;
    }
  }
}

.scheduleForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .dateTimeFields{
    display: flex;
    justify-content: space-between;
  }
}

.confirmationDetails{
  text-align: center;
  & .time{
    background-color: gray(98%);
    padding: rem(30);
    font-size: rem(30);
    margin-bottom: rem(15);
  }
}

.button.confirmButton:not([disabled]) {
  @apply --success-theme;
}
