.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scheduleForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: rem(450);
}

.recurringCheckbox{
  margin: rem(20) 0;
}
